/* about*/
.wrapper {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.aboutCont {
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
}
.title {
	text-decoration: underline;
}
.text {
	color: #4c4c4c;
}
@media only screen and (max-width: 577px) {
	.aboutCont {
		padding-right: 15px;
		padding-left: 15px;
	}
}
