/* Home/Index */
.homeRow {
	justify-content: center;
}
.avatarHome {
	max-width: 200px;
	max-height: 250px;
}
/*  */
.wrapper {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.title a {
	color: red;
	text-decoration: underline;
}
.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
	color: #9147ff;
}

.title {
	margin: 0;
	line-height: 1.15;
	padding-top: 1rem;
	font-size: 3rem;
}

@media (max-width: 600px) {
}
