/* Nav Comp */
.navCont {
	padding-right: 0;
	padding-left: 0;
}
.navColor {
	/* background-color: #112d4e; */
	background-color: #00cccc;
	font-family: "Righteous", serif;
}
.logo {
	margin-bottom: -100px;
}
.hamburger {
	text-align: center;
	margin-left: auto;
}
.custom {
	color: red;
}
/* Footetr Comp */
.footerCont {
	padding-right: 0;
	padding-left: 0;
}
.footer {
	width: 100%;
	height: 100px;
	background: #00cccc;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.footerP {
	color: #001919;
}
.socialContact {
	padding: 2rem;
}
/* Index button */
.offlineCont {
	padding-top: 10%;
	display: inline-flex;
}
.offlineCirlce {
	height: 13px;
	width: 13px;
	background-color: grey;
	border-radius: 50%;
	display: inline-block;
	margin-right: 7px;
}
.onlineCont {
	padding-top: 10%;
	display: inline-flex;
}
.onlineCirlce {
	height: 13px;
	width: 13px;
	margin-right: 7px;
}
